<div class="container-fluid">
   <div class="row top-wrapper">
      <div class="col-md-1"></div>
      <div class="col-md-7 display-3 text-center text-success font-weight-bold">
         被験者バイトは
      </div>
      <div class="col-md-4">
         
      </div>
   </div>
   <div class="row bg-success middle-wrapper">
      <div class="col-md-2">
         
      </div> 
      <div class="col-md-10 display-2 text-center pt-1 text-light font-weight-bold responsive-design"> 
          StartResearch
      </div>           
   </div>
   <div class="row py-5 my-5">
      <div class="col-md-1"></div>
      <div class="col-md-10 ">
         <h3 class="text-center "><span class="markerDeepGreen">StartResearchは空いた時間に、働きたい人と、</span></h3>
         <h3 class="text-center"><span class="markerDeepGreen">被験者を探している研究機関をつなぐ被験者バイトアプリです。</span></h3>
      </div>
      <div class="col-md-1"></div>
   </div>
</div>

