// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-wrapper{
  padding-top: ($spacer * 7);
}

.middle-wrapper{

  padding-bottom: ($spacer * 8);
}

.responsive-design{
  word-break: break-all;
}

.markerDeepGreen{
background:linear-gradient(transparent 50%, #99ff99 0%);
}